.image {
	position: relative;
	width: 150px;
	height: 160px;

}

.book {

	width: 100px;
	height: 255px;
	left: 50px;
	top: 50px;
	margin: 1.9%;
	padding: 20px;


}

.button-right {
	position: flex;
	margin: 5%;
	height: 50px;
	width: 50px;


}

.button-left {
	position: flex;
	margin: 0.5%;
	height: 50px;
	width: 50px;



}



.book_container {
	display: flex;
	flex-direction: row;


}